In [2]:
i=0
while i<9:
    print(i)
    #print(i,end=" ") #Change the line 
    i=i+1
    
    
print("Loop end")

0
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 Loop end

In [5]:
### Pro : To Print All no From to 100###

i=1
while i<101:
    #print(i)
    print(i,end=" ") #Change the line 
    i=i+1
    
    
print("Loop end")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 Loop end

### For Loop###

In [15]:
for i in range(1,100,1):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [16]:
for i in range(100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

### Nested Loops###

In [21]:
for i in range(4):
    for j in range(3):
        print("data = ",i,j)

data =  0 0
data =  0 1
data =  0 2
data =  0 3
data =  0 4
data =  0 5
data =  0 6
data =  1 0
data =  1 1
data =  1 2
data =  1 3
data =  1 4
data =  1 5
data =  1 6
data =  2 0
data =  2 1
data =  2 2
data =  2 3
data =  2 4
data =  2 5
data =  2 6

In [30]:
# print ****

for i in range(4):
    for j in range(4):
        print("*",end =" ")
    print()

* * * *
* * * *
* * * *
* * * *

# Break Statmnet

In [32]:
for i in range(1,100,1):
    if i ==50:
        break
    print(i,end=" ") # (end=" ") use to output in same line

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

# Continune Statmnet #

In [36]:
for i in range(1,100,1):
    if i ==50:
        continue
    print(i,end=" ")

1 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

# Pass Statment

In [37]:
for i in range(1,100,1):
    if i ==50:
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

# loop witn else block

In [38]:
for i in range (5):
    print(i)
else:
    print("i Am in else")

0
1
2
3
4
i Am in else