# Date type in Python

In [2]:
data = "NAVIKARAN"
data[1],data[-1]

('A', 'N')

In [3]:
data[1*3]

'I'

# For Loop

In [34]:
data = "NAVIKARAN"
for i in data:
    print(i, end = " ")

N A V I K A R A N

In [35]:
data = "NAVIKARAN"
for i in data:
    print(i)

N
A
V
I
K
A
R
A
N

In [36]:
data = "NAVIKARAN"

for i in data:
    if i=="K":
        print("ok")

ok

# Slicing

In [37]:

data = "NAVIKARAN"

print(data[0:3])

NAV

In [38]:
data = "NAVIKARAN"

print(data[0:7:1])

NAVIKAR

In [39]:
data = "NAVIKARAN"

print(data[:])

NAVIKARAN

In [40]:
data = "NAVIKARAN"

print(data[::-1])

NARAKIVAN

In [41]:
data = "NAVIKARAN"
print(data[:5])

NAVIK

In [42]:
data = "NAVIKARAN"

print(data[:5])

NAVIK

In [43]:
data = "NAVIKARAN"

print(data[5:])

ARAN

# String Methods

In [44]:
name="navi"
age=26
print("Name:{0},Age:{1}".format(name,age))

Name:navi,Age:26

In [45]:
name="navi"
age=26
print("Name:{n},Age:{a}".format(n=name,a=age))

Name:navi,Age:26

In [4]:
name="navi"
age=26
print("Name:{},Age:{}".format(name,age))

Name:navi,Age:26

In [5]:
str1="Navikaran is a boy"
str1.index("o")

16

In [48]:
str1="Navikaran is a boy"
str1.count("a")

4

In [49]:
str1="Navikaran is a boy"
str1.find("a")

1